.header{
    height : 50px;
    display: flex;
    
    padding: 10px;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 2px solid #f5f6f7;
    margin-bottom: 40px;
}
.link{
    text-decoration: none;
    color: #525d68;
    
    line-height: 15px;
    font-size: 16px;
    font-weight: 600;
}

.link:hover{
    color : #1ba49c
}
.link:active{
    font-weight: 400;
    border-bottom: 2px solid #06BC9B;
    color: #1ba49c !important;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .example {background: red;}
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .example {background: green;}
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .example {background: blue;}
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .example {background: orange;}
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .example {background: pink;}
  }



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .header{
        height : 50px;
        display: flex;
        /* margin-left: 400px; */
        padding: 10px;
        justify-content: space-evenly;
        align-items: center;
        border-bottom: 2px solid #f5f6f7;
        margin-bottom: 40px;
    }
}

 

  

  
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body{
        text-align : center;
    }
    .icons{
        color : #06BC9B;
        font-size: 25px;
        margin-left: 0px;
    }
  .lang_pic{
      border-radius: 50%;
      height : 50px;
      width: 50px;
      padding: 10px;
      border :  5px solid #06BC9B;
  }
  .contact_icons{
      color : #06BC9B;
      font-size: 45px;
      margin-left: 30px;
  }
  .contact_icons:hover{
      color: #525d68;
  }
  .resumeButton{
      background-image: linear-gradient(left,#1ba49c,#06BC9B) ;
      background-color: #06BC9B !important;
      cursor : pointer;
      color : #fff;
      padding : 15px;
      text-align: center;
      border : none;
      width: fit-content;
      margin: 10px auto;
      margin-bottom: 50px;
      border-radius: 6px;
      font-size: 12px;
      font-weight: 600;
      outline: none;
  }
  
  .profile_pic{
      border-radius: 50%;
      height : 100px;
      width: 100px;
      border: 5px solid #06BC9B;
  }
  .gitComit_image{
      height: 200px;
      width: 400px;
  }
  .proficiencies{
      color : #06BC9B;
       height : 100px;
       width: 100px;
       padding: 20px;
       fill : #06BC9B
   }
  .lang_cards{
      padding: 20px;
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 0px;
      margin-right: 20px;
      display: flex;
      flex-direction: column;
     align-content: center;
  }
  .container_lang_div{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      width: 400px;
      margin: 10px auto;
  }
  .container_proficiency{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      width: 200px;
      margin: 10px auto;
      margin-bottom: 30px;
  }
  
  .info_div{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 600px;
    margin: 10px auto;
  }
  }
  
 
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
      body{
          text-align : center;
      }
      .contact_div{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 650px;
        margin: 10px auto;
    }
      .icons{
        color : #06BC9B;
        font-size: 25px;
        margin-left: 0px;
    }
    .lang_pic{
        border-radius: 50%;
        height : 50px;
        width: 50px;
        padding: 10px;
        border :  5px solid #06BC9B;
    }
    .contact_icons{
        color : #06BC9B;
        font-size: 45px;
        margin-left: 30px;
    }
    .contact_icons:hover{
        color: #525d68;
    }
    .resumeButton{
        background-image: linear-gradient(left,#1ba49c,#06BC9B) ;
        background-color: #06BC9B !important;
        cursor : pointer;
        color : #fff;
        padding : 20px;
        text-align: center;
        border : none;
        width: fit-content;
        
        margin: 10px auto;
        margin-bottom: 50px;
        border-radius: 6px;
        font-size: 16px;
        font-weight: 600;
        outline: none;
    }
    
    .profile_pic{
        border-radius: 50%;
        height : 150px;
        width: 150px;
        border: 5px solid #06BC9B;
    }
    .gitComit_image{
        height: 300px;
        width: 750px;
    }
    .proficiencies{
        color : #06BC9B;
         height : 100px;
         width: 100px;
         padding: 20px;
         fill : #06BC9B
     }
    .lang_cards{
        padding: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 50px;
        margin-right: 50px;
        display: flex;
        flex-direction: column;
       align-content: center;
    }
    .container_lang_div{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        width: 800px;
        margin: 10px auto;
    }
    .container_proficiency{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 600px;
        margin: 10px auto;
        margin-bottom: 30px;
    }
  } 
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    body{
        margin : auto;
        text-align: center;
    }
    .profile_pic{
        border-radius: 50%;
        height : 150px;
        width: 150px;
        border: 5px solid #06BC9B;
    }
    
    .container_lang_div{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        width: 1200px;
        margin: 10px auto;
    }
    .lang_pic{
        border-radius: 50%;
        height : 50px;
        width: 50px;
        padding: 10px;
        border :  5px solid #06BC9B;
    }
    .lang_cards{
        padding: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
        display: flex;
        flex-direction: column;
       align-content: center;
    }
    .proficiencies{
       color : #06BC9B;
        height : 130px;
        width: 130px;
        padding: 20px;
        fill : #06BC9B
    }
    .icons{
        color : #06BC9B;
        font-size: 25px;
        margin-left: 30px;
    }
    .contact_icons{
        color : #06BC9B;
        font-size: 45px;
        margin-left: 30px;
    }
    .contact_icons:hover{
        color: #525d68;
    }
    .download_icon{
        color : white;
        font-size: 20px;
    }
    .resumeButton{
        background-image: linear-gradient(left,#1ba49c,#06BC9B) ;
        background-color: #06BC9B !important;
        cursor : pointer;
        color : #fff;
        padding : 20px;
        text-align: center;
        border : none;
        width: fit-content;
        
        margin: 10px auto;
        margin-bottom: 50px;
        border-radius: 6px;
        font-size: 16px;
        font-weight: 600;
        outline: none;
    }
    
    .container_proficiency{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 1200px;
        margin: 10px auto;
        margin-bottom: 30px;
    }
    .divider_div{
        border-bottom: 2px solid rgb(235, 232, 232);
    }
    
    .contact_div{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 650px;
        margin: 10px auto;
    }
    .gitComit_image{
        height: 400px;
        width: 1200px;
    }
  }
  
 
