.header{
    height : 50px;
    display: flex;
    
    padding: 10px;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 2px solid #f5f6f7;
    margin-bottom: 40px;
}
.link{
    text-decoration: none;
    color: #525d68;
    
    line-height: 15px;
    font-size: 16px;
    font-weight: 600;
}
.link:hover{
    color : #1ba49c
}
.link:active{
    font-weight: 400;
    border-bottom: 2px solid #06BC9B;
    color: #1ba49c !important;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .example {background: red;}
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .example {background: green;}
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .example {background: blue;}
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .example {background: orange;}
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .example {background: pink;}
  }



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .header{
        height : 50px;
        display: flex;
        /* margin-left: 400px; */
        padding: 10px;
        justify-content: space-evenly;
        align-items: center;
        border-bottom: 2px solid #f5f6f7;
        margin-bottom: 40px;
    }
}

 
